<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.e_hrsystem">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ViewVacRequestActivity"
            android:theme="@style/AppTheme.PopUp" />
        <activity android:name=".ViewLevRequestActivity"
            android:theme="@style/AppTheme.PopUp"/>
        <activity android:name=".utils.SplashActivityJava">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".VacRecyclerActivity" />
        <activity android:name=".LevRecyclerActivity" />
        <activity android:name=".admin.DeleteEmployeeActivity" />
        <activity android:name=".admin.AddEmployeeActivity" />
        <activity android:name=".authentication.LoginActivity" />
        <activity android:name=".MainActivityAdmin" />
        <activity android:name=".employee.RequestVacationActivity" />
        <activity android:name=".employee.RequestLeaveActivity" />
        <activity android:name=".offerselements.Hotels" />
        <activity
            android:name=".employee.EmployeeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>